%borderRadiusElement {
  border-radius: 6px;
}

.inputNewTask {
  transform: translateY(-50%);

  >form{
    display: flex;
    justify-content: center;
    gap: .5rem;

    input {
      background: var(--gray-500);
      border: 0;
      padding: .875rem;
      color: var(--gray-100);
      @extend %borderRadiusElement;

      flex: 1;
    }

    .buttonCreate {
      background: var(--blue-dark);
      border: 0;
      padding: .875rem;
      color: var(--gray-100);
      @extend %borderRadiusElement;

      display: flex;
      align-items: center;
      gap: .5rem;

      transition: background 0.1s;
    }

    button:hover{
      background: var(--blue);

    }
    
  }
}