.headerTasks {
  display: flex;
  justify-content: space-between;
  //margin-bottom: 2rem;

  >p {
    color: var(--blue);
    font-weight: bold;
    font-size: 14px;

    span{
      background: var(--gray-400);
      color: var(--gray-100);
      font-weight: bold;
      font-size: 12px;
      padding: .125rem .5rem;
      margin-left: .5rem;
      border-radius: 1rem;
    }
  }
  >p:last-child {
    color: var(--purple);
  }
}